<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">

  <title>Golden Shoe - Heel1</title>

  <link href="stylesheets/stylesheet.css" rel="stylesheet">

</head>
<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Golden Shoe</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Mens</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Womens </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">New </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sale</a>
        </li>
        <% if session[:signed_in?] == true %>
        <li class="nav-item active">
          <a class="nav-link" href="/basket">My Basket</a>
        </li>
        <% end %>
      </ul>
      <% if session[:signed_in?] == true %>
        <a class="nav-link" href="/signout">Sign out</a>
        <% else %>
      <a class="nav-link" href="/login">Sign In</a>
        <% end %>
  </div>
</nav>

<br>
<br>

  <center>
    <h1> Heel 1 <br> £90.00 </h1>
  </center>

<!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
      <center>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block w-50" src="images/img1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-50" src="images/img2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-50" src="images/img4.jpg" alt="Third slide">
        </div>
      </div>
      </center>
      <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
      <br>
      <br>
      <ol class="carousel-indicators">
        <li data-target="#carousel-thumb" data-slide-to="0" class="active"> <img class="d-block w-100" src="images/img1.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="1"><img class="d-block w-100" src="images/img2.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="2"><img class="d-block w-100" src="images/img4.jpg"
            class="img-fluid"></li>
      </ol>
    </div>

<br>
<br>

<section class="container">
  <div class="left-half">
    <article>
      <h2>Shoe Details:</h2>
      <p>High heel, Round toe, Block heel, Slip on <br>
        Upper: Leather<br>
        Sole: Rubber<br>
         Heel Height: 12 cm <br>
         Platform Height: 2.5 cm</p>
    </article>
  </div>
  <div class="right-half">
    <article>
      <center>
      <form method="post" action="/heel1">
      <div class="availability-box cf">
        <h2>Available Sizes:</h2>
        <br>
      <p>
          <select name="size_choice">
          <% @shoes.each do |shoe| %>
            <%if shoe.shoe_name == 'heel1' %>
            <option value='<%= shoe.shoe_size %>'
              <% if shoe.shoe_stock == '0' %>
                  disabled>
                <% else %>
                  >
              <% end %>
              <%= shoe.shoe_size %>
            </option>
           <% end %>
        <% end %>
        </select>
      </p>
      </div>
      <br>
      <% if session[:signed_in?] == true %>
      <input type="submit" value="Add to basket">
      <% else %>
      <a href="/login" class="signup-link">Login to add items to basket</a>
      <% end %>
      </form>
      </center>
    </article>
  </div>
</section>
<br>

<div class="container-100%">
  <footer class="footer-primary">
    <nav class="footer inline footer-nav">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://www.facebook.com/goldenshoes" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/goldenshoes" target="_blank" class="fa fa-twitter"></a>
    </nav>
  </footer>
</div>


<!-- <h1><center>Golden Shoe<center></h1> -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
