/* h1 {
  font-family: 'Acme', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #FFCE26;
  padding-top: 10px;
  letter-spacing: 0.1em;
  margin: 0;
} */


body {
   background-color: #eeecef;
   font-family: 'Acme', sans-serif;
   font-size: 1.25em;
 }
.navbar {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  background-color: #FFCE26;
}

.navbar-nav {
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

a.navbar-brand {
  color: white;
}

a.nav-link {
  color: white;
}

a.signup {
  color: black;
}

a.nav-link:hover {
  font-weight: 1000;
  color: #eeecef;
}

a.navbar-brand:hover {
  font-weight: 1000;
  color: #eeecef;
}

a.signup:hover {
  font-weight: 1000;
  color: gray;
}

.navbar-collapse{
  color: #0b0b0c;
}

footer {
  margin:0;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  position: relative;
}


/* .contact1:hover {
  color: #eeecef;
} */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer-primary {
  background-color: #FFCE26;
}
